<div class="container">
  <div>
    <h1>Five-Day Weather Forecast</h1>
    <div class="input-group input-group-lg inputCity">
      <input type="text" class="form-control" [(ngModel)]="city" placeholder="Enter a city" />
      <button
        type="button"
        class="btn btn-primary"
        (click)="getFiveDayForecast()"
      >
        Get 5-Day Forecast
      </button>
    </div>
  </div>
  <div *ngIf="cityError">
    <h2 class="cityError">Type a correct city name to search</h2>
  </div>
  <div *ngIf="hasForecast; then forecastTemplate; else logoTemplate"></div>
  <ng-template #forecastTemplate>
    <h2 class="forecast">Weather Forecast for {{ cityCountry }}</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="th-header-style">Date</th>
          <th class="th-header-style">Weather</th>
          <th class="th-header-style">Temp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of weatherData; let i = index">
          <ng-container *ngIf="i === 0 || i % 8 === 0">
            <td>
              <div class="grid-container">
                <div class="day">
                  {{ data.dt_txt | date : "dd" }}
                </div>
                <div class="date">{{ data.dt_txt | date : "EEE" }}</div>
                <div class="date">{{ data.dt_txt | monthName }}</div>
              </div>
            </td>
            <td class="weather">
              <img [src]="data.weather[0].icon" class="icon" />{{ data.weather[0].description | titlecase }}
            </td>
            <td class="temp">{{ data.main.temp | number : "1.0-0" }}&#8451;</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <ng-template #logoTemplate>
    <img [src]="logoUri" class="logoIntro" />
  </ng-template>
</div>
