<div class="container">
  <div class="mb-2">
    <h2>Five-Day Weather Forecast</h2>
    <input [(ngModel)]="city" placeholder="Enter a city" />
    <button (click)="getFiveDayForecast()">Get 5-Day Forecast</button>
  </div>
  <div class="mb-2" *ngIf="weatherData">
    <h3>Weather Forecast for {{ city }}</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="th-header-style">
          <th>Date</th>
          <th>Temp</th>
          <th>Weather</th>
          <!--<th>Categories</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of weatherData; let i = index">
          <ng-container *ngIf="i === 0 || i % 8 === 0">
          <td>{{ data.dt_txt | date: 'EEE'}},{{ data.dt_txt | date}}</td>
          <td>{{ data.main.temp | number:'1.0-0'}}&#8451;</td>
          <td>{{ data.weather[0].description }}</td>
          </ng-container>
      </tbody>
    </table>
  </div>
</div>
